

header{
    background-color: #bbbb;
    padding: 20px 0;
    
    
}
.caixa{
    position: relative;
    width: 620px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
   
    
}
.caixa h1{
    margin-left: -100px;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 100px;

    
}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}  
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.produtos{
    width: 940px;
    margin:0 auto ;
    padding: 50px 0px;
    
    
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:40px 20px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 20px;
} 
.produtos li:hover{
    color: #c78c19;
    

} 
.produtos li:hover h2{
    font-size: 25px;
}
.produtos li:active{
    border-color: green;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-preço{
    font-size: 22px;
    font-weight:bold ;
    margin: 10px 0 0;
}
.produto-descriçao{
    font-size: 18px;

}
footer{
    text-align: center;
    background-color: black;
 
}
.copy {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
    
}
footer img{
    width: 100px;
    
}